<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:installLocation="auto" android:versionCode="1" android:versionName="1.0" package="com.Intilq.ChilTrack">
	<uses-sdk android:minSdkVersion="15" android:targetSdkVersion="22" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.WRITE_SETTINGS" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />
	<meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyDvQr2PwgTAVzcVSrdmeZ-Q7J5Cr6P6KNE" />
	<application android:label="ChilTrcak" android:icon="@drawable/ic_launcher">
		<meta-data android:name="com.google.android.geo.API_KEY" android:value="AIzaSyDvQr2PwgTAVzcVSrdmeZ-Q7J5Cr6P6KNE" />
	</application>
</manifest>